node_modules/*
.sass-cache/*
gulpfile.js
sass/style2.scss
css/style2.css
index-ready.html
css/animation.css
css/fontello-codes.css
css/gontello-embedded.css
css/fontello-ie7-codes.css
css/fontello-ie7.css